<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.vars.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.vars.description %>">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.vars.themeColor %>">
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <!--[if lte IE 10]>
      <div style="text-align: center; margin: 20px;">
        <h2>Your Browser is Not Supported</h2>
        <p>Please upgrade to a modern browser to continue using this website.</p>
      </div>
    <![endif]-->
    <div id="app"></div>
  </body>
</html>
